@import "../../modules/_base.scss";

/*Site Logo*/
.b-header__logo{
    float:left;
    @include px2rem(width, 92px);
    @include px2rem(height, 36px);
    background-image:url(../img/logo.svg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    @include hide-text;

    @include media($desktop){
        float:none;
        display:block;
        margin:0 auto 22px;
        @include px2rem(width, 194px);
        @include px2rem(height, 76px);
    }
}

.no-svg .b-header__logo{
    background-image:url(../img/logo.png);
}

