@import "../modules/_base.scss";


@import "page/_banner.scss"; //Баннер з формою заявки
@import "page/_actions.scss";//блок Акційних пропозицій
@import "page/_advantages.scss";//блок Переваги
@import "page/_faq.scss";//блок Варто Знати
@import "page/_scroll-up.scss";

/*Page Section*/
.b-section{
    padding:23px 0 12px;
    background:#fff;
    font-weight:300;
}
.b-section--alt{
    background:#f0f0f0;
}