@import "base";
/* Buttons */
.g-btn{
    display: inline-block;
    @include px2rem(height, 54px);
    @include px2rem(padding, 0 30px);
    color:$primary;
    text-align: center;
    @include font-size(16px);
    font-weight:500;
    @include px2rem(line-height, 54px);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: $primary-alt;
    border-radius:27px;
    border: 1px solid $primary-alt;
    cursor: pointer;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active{
        color:$primary-alt;
        background-color:$primary;
        border-color:$primary;
        outline:0;
    }
}
